{
  "10061075": "AIG A&H",
  "10060801": "AIG CL NA",
  "10061026": "AIG PCG",
  "10062794": "AXA Seguros, S.A. de C.V.",
  "10062050": "AXIS US Operations",
  "10062741": "Aggne",
  "10061375": "Allstate",
  "10061975": "Ameritrust",
  "10062350": "Arbella",
  "10062590": "Argyle Insurance",
  "10059676": "Avant",
  "10058589": "BHSI",
  "10062884": "BHSI Small Commercial Insurance",
  "10062725": "BITCO",
  "82828282": "Base Product Test Customer",
  "10060051": "Bear River",
  "10061675": "Builders",
  "10062665": "California Fair Plan Association",
  "10062866": "Capricorn Mutual",
  "10058851": "Cerity",
  "10060876": "Chubb",
  "10062670": "Chubb POC",
  "10062685": "Coaction Specialty Insurance",
  "10061600": "Coal Services",
  "10062200": "Coforge",
  "10061525": "Cognizant",
  "10062753": "Country-Wide Insurance Company",
  "10059826": "Coverys",
  "10062981": "DCOD DevOps",
  "99999999": "DCOD Internal",
  "10062605": "DCOD Triage",
  "10062861": "DCT Internal",
  "10062900": "DCT TEST 1",
  "10059076": "DXC",
  "10099999": "DevOps Octo Con Test",
  "10061450": "Distinguished Group",
  "10062630": "EMC Insurance Companies",
  "10062640": "EY Ernst & Young U.S. LLP",
  "10062747": "Effisoft - DCOD",
  "10062695": "Encova",
  "10062831": "Europe Assistance Holdings (EastUS)",
  "10062872": "Europe Assistance Holdings (NorthUS)",
  "10062575": "FCCI Insurance Group",
  "10058776": "Florida Peninsula",
  "10062680": "Frankenmuth Mutual Insurance Company",
  "10059976": "GAINSCO",
  "10062878": "Glatfelter",
  "10059151": "Great American",
  "10062759": "HDFC ERGO General Insurance Company",
  "10077416": "HTC Global Services",
  "10062690": "HUB International",
  "10062720": "Hagerty",
  "10060126": "Hartford Insurance Group",
  "10062735": "Hexaware",
  "10062275": "Hollard",
  "10058701": "IAT",
  "10060201": "ISMIE",
  "10061150": "LawCover (INTL)",
  "10060276": "Liberty Mutual",
  "10059451": "MBG (Claims)",
  "10062801": "MDA National Insurance Pty Ltd",
  "10062595": "Mallard Mutual",
  "10061300": "Manitoba",
  "10062895": "Mapfre",
  "10061825": "MedPro",
  "10062890": "Medical Assurance Society New Zealand Limited",
  "10062425": "Mindtree",
  "10060576": "Munich Re",
  "10062715": "New Jersey Manufacturers Insurance Co",
  "10062675": "Old Republic Excess & Surplus",
  "10062813": "Old Republic Professional Liability Inc",
  "10062710": "Old Republic Risk Management",
  "10000319": "Other/Unassigned",
  "10000312": "Other/Unassigned",
  "10000306": "Other/Unassigned",
  "10000307": "Other/Unassigned",
  "12345698": "Other/Unassigned",
  "88800001": "Other/Unassigned",
  "10000310": "Other/Unassigned",
  "10000321": "Other/Unassigned",
  "47474747": "Other/Unassigned",
  "INT00001": "Other/Unassigned",
  "10": "Other/Unassigned",
  "10000301": "Other/Unassigned",
  "10000320": "Other/Unassigned",
  "99900050": "Other/Unassigned",
  "10000305": "Other/Unassigned",
  "10000303": "Other/Unassigned",
  "10000318": "Other/Unassigned",
  "99900014": "Other/Unassigned",
  "101": "Other/Unassigned",
  "10000314": "Other/Unassigned",
  "10000315": "Other/Unassigned",
  "11223344": "Other/Unassigned",
  "10000317": "Other/Unassigned",
  "99900051": "Other/Unassigned",
  "10000304": "Other/Unassigned",
  "10000309": "Other/Unassigned",
  "99900013": "Other/Unassigned",
  "10000311": "Other/Unassigned",
  "Cumulus": "Other/Unassigned",
  "99900025": "Other/Unassigned",
  "99900032": "Other/Unassigned",
  "99900049": "Other/Unassigned",
  "10000313": "Other/Unassigned",
  "99900034": "Other/Unassigned",
  "99900016": "Other/Unassigned",
  "99900017": "Other/Unassigned",
  "99900035": "Other/Unassigned",
  "99900003": "Other/Unassigned",
  "99900029": "Other/Unassigned",
  "99900018": "Other/Unassigned",
  "10000308": "Other/Unassigned",
  "10000302": "Other/Unassigned",
  "10000316": "Other/Unassigned",
  "10059376": "PURE",
  "10058664": "Pacific Specialty",
  "10062787": "Performance Services",
  "10062580": "Philadelphia Insurance Companies",
  "10062730": "Pre-Sales - Azure Generated",
  "10062705": "Price Waterhouse Coopers",
  "10062781": "Private Client Select Insurance Services, LLC",
  "10062819": "Professional Services",
  "10059526": "Progressive",
  "10062825": "Progressive",
  "10062837": "Royal Automobile Association of South Australia inc",
  "10062650": "SGI Canada",
  "10009998": "SIRA",
  "10062764": "SafePoint Insurance Company",
  "10062585": "Secura Insurance Companies",
  "Security": "Security",
  "Shared": "Shared",
  "10062645": "Shelter",
  "10062635": "Slide Insurance Holdings",
  "10062807": "Southern Oak Insurance Company",
  "10062770": "Southern Trust Insurance Company",
  "10061750": "StarStone",
  "10062500": "Starr Insurance Holdings",
  "10062915": "State Auto",
  "10062776": "Suncorp Group Limited",
  "10062620": "Telenav",
  "10060726": "Tesla",
  "10062125": "Texas Mutual Insurance",
  "10060351": "The Doctors",
  "10059301": "Three",
  "10059901": "Trexis",
  "10059226": "UPC",
  "10060951": "Utica First",
  "10059751": "Utica National",
  "10062625": "Value Momentum",
  "10045505": "West Bend",
  "10004644": "Westfield",
  "10062610": "Xceedance Consulting LTD",
  "10062700": "Yovant Inc."
}